@media screen and (min-width: 640px) {
  .flex-container {
    display: flex;
  }
}

section,
aside,
footer {
  margin: 0;
  padding: rem-calc(20);
  border: 1px solid #000000;
}

.content {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 0 1 600px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  border: 1px solid #000000;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  margin: auto;
  max-width: 1200px;
}
